@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h2>Order Details For Vendor: <em><strong>@Model["vendor"].Name</em></strong></h2>
  <div class="row">
    <div class="col-md-2">
      <p style="font-weight:bold">Item Description</p>
      <p>@Model["order"].Item</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold">Quantity (Each)</p>
      <p>@Model["order"].Quantity</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold;">Price (Each)</p>
      <p>@Model["order"].Price</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold">Date Ordered</p>
      <p>@Model["order"].DateOrdered</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold">Date Shipped</p>
      <p>@Model["order"].DateShipped</p>
    </div>
  </div>
  
  
  <hr>
  <h5 style="margin: 20px 0px 20px 0px"><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></h5>
  <h5 style="margin: 0px 0px 20px 0px;"><a href="/vendors/@Model["vendor"].Id">View orders by this vendor</a></h5>
  <h5><a href='/vendors'>View all vendors</a></h5>

  <form action="/orders/delete" method="post">
    <button style="display: none" type="submit" class="btn btn-danger btn-sm" name="button" value="@Model["order"]">Delete Orders</button>
  </form>
</div>